* {
  padding: 0;
  margin: 0;
  /* outline: 1px red solid; */ 
}

h1,h2,h3{
  font-family: 'SF Pro Display';
}

h1{
  font-size: 28px;
  line-height: 36px;
  font-weight: 800px;
  margin-bottom: 24px;
}
h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700px;
}
h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700px;
}
h5 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}


.paragraph-regular{
  font-size: 16px;
  line-height: 24px;
}

.caption-mobile{
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
.subtitle {
  font-size: 12px;
  line-height: 18px;
  color: #22222C;
  opacity: 0.64;
}

body {
  margin: 0;
    font-size: 14px;
    line-height: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article{
  margin-bottom: 40px;
}

header {
  display: flex;
  margin-bottom: 16px;
  padding: 14px 0px;
  justify-content: center;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
}
.content {
  padding: 0px 16px
}
.ordered {
  margin-bottom: 8px;
}

.btn {
  display: block;
  color: white;
  font-family: inherit;
  font-weight: 700;
  background-color: #ff9b4e;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 16px 32px rgba(255, 155, 78, 0.24);
  padding: 16px;
  min-width: 343px;
  
}

@media screen and (min-width: 900px) {
  
  h1{
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 32px;
    text-align: center;
  }
  h2{
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 32px;
    text-align: center; 
  }
  h3{
    font-size: 24px;
    line-height: 32px;
  }
  header{
    margin-bottom: 48px;
    padding: 20px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
  }

  .ordered {
    text-align: center;
  }
}
