* {
  padding: 0;
  margin: 0;
  outline: 1px red solid;
}

h1,h2,h3{
  font-family: 'SF Pro Display';
}

h1{
  font-size: 28px;
  line-height: 36px;
  font-weight: 800px;
}
h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700px;
}
h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700px;
}
h5 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}

.paragraph-regular{
  font-size: 16px;
  line-height: 24px;
}

.caption-mobile{
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
.subtitle {
  font-size: 12px;
  line-height: 18px;
  color: #22222C;
  opacity: 0.64;
}

body {
  margin: 0;
    font-size: 14px;
    line-height: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  padding: 14px 0px;
  justify-content: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
}


.btn {
  display: block;
  color: white;
  background-color: #ff9b4e;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 16px 32px rgba(255, 155, 78, 0.24);
  padding: 16px;
  
}

@media screen and (min-width: 900px) {
  header{
    padding: 20pxd;
  }
}
